@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

.main {
    height: 100vh;
    display: flex;
}

/* Video playing and controls area to left */
.main__left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Align chat area to right */
.main__right {
    flex: 0.2
}

#video-grid {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

video {
    display: block;
    flex: 1;
    object-fit: cover;
    max-width: 760px;
    max-height: 500px;
    padding: 0px 4px;
    border-radius: 1rem;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

#chat-container {
    display: none;
}

/* Video playing area */
.main__videos {
    flex-grow: 1;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main__videos::-webkit-scrollbar{
    display: none;
}

/* Video Controls */
.main__controls {
    background-color: #000000;
}

/* Chat area */
.main__right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

/* Video controls */
.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/* Display video controls horizontally */
.main__controls__block {
    display: flex;
}

/*  video controls  */
.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

/* style video controls on hover */
.main__controls__button:hover {
    background-color: #343434;
    border-radius: 100px;
}

/* Video controls btn size */
.main__controls__button i {
    font-size: 28px;
}

/*  video controls  */
.main__controls__meeting_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 17px;
}

/* style video controls on hover */
.main__controls__meeting_name:hover {
    color: #a7a7a7;
    border-radius: 5px;
}

/*  video controls  */
.main__controls__leave__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

/* Video controls btn size */
.main__controls__leave__button i {
    font-size: 26px;
}

.form__control__msg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message__send__btn{
    color: #F5F5F5;
    font-size: 22px;
    padding-top: 2px;
}

.send__btn:hover i{
    color: #b3b3b3;
    transition-duration: 0.2s;
}

/* Chat area */
.main__right {
    display: flex;
    flex-direction: column;
}

/* Chat header */
.main__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    color: #F5F5F5;
    background-color: #353535;
}

.main__header h6 {
    font-size: 17px;
    margin-top: 2px;
    margin-left: 8px;
}

.main__header i {
    margin-top: 5px;
    font-size: 17px;
}

/* Message type area to bottom */
.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
    max-width: 300px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.main__chat_window::-webkit-scrollbar{
    display: none;
}

.messages{
    color: white;
    list-style: none;
}

.messages li {
    border-bottom: #353535  solid 2px;
    padding: 10px 7px;
    margin-right: 15px;
    word-wrap: break-word;
}

.main__message_container {
    border-top: #F5F5F5 solid 2px;
    padding: 15px 7px;
}

.main__message_container input {
    flex-grow: 1;
    background-color: #353535;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #F5F5F5;
    min-width: 240px;
}

.leave_meeting {
    color: #F5F5F5;
    font-size: 17px;
    background-color: #CC3B33;
    border: 2px solid #CC3B33;
    padding: 5px;
    border-radius: 5px;
}

.leave_meeting:hover {
    background-color: #c41b13;
}


.fa-microphone-slash, .fa-video-slash {
    color: #CC3B33;
}

.swal__confirm__btn {
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: #242324;
    padding: 10px;
}

.swal__confirm__btn:hover {
    background-color: #e2e2e2;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.swal__confirm__btn:focus {
    outline: none;
    box-shadow: none;
}

.main__details {
    margin-top: 200px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__details h1 {
    color: #3a3a3a;
    font-family: 'Roboto';
}

.main__details p {
    color: #696969;
    font-size: 22px;
    margin-top: 5px;
    font-family: 'Roboto';
}

.heading h2 {
    margin-top: 10px;
    margin-left: 15px;
    color: #17a504;
    font-family: 'Nunito';
}