<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Zode
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            background-color: rgb(233, 233, 233);
            -webkit-user-select: none;
            -moz-user-select: -moz-none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
</head>

<body>
    <div class="heading">
        <h2>Zode</h2>
    </div>
    <div class="main__details">
        <h1>
            No meetings were found with the given details
        </h1>
        <p>Create a new meeting</p>
    </div>
</body>

</html>